<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Camera Configuration</title>
    <link rel="stylesheet" href="/static/fa/all.min.css">
    <link rel="stylesheet" href="/static/fa/fontawesome.min.css">
    <script src="/static/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/bulma.min.css">
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <block>

            </block>
            <a class="navbar-item" href="http://laonpeople.com" style="width:150px;height: 80px;">
                <img src="/static/logo.png" width='100%' height='100%'>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div>&nbsp;&nbsp;</div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    <span>
                        Live Viewer
                    </span>
                </a>

                <a class="navbar-item">
                    System Info
                </a>

                <a class="navbar-item">
                    DMS Settings
                </a>
                <a class="navbar-item" href="/timesetting">
                    Time
                </a>
                <a class="navbar-item">
                    Admin Settings
                </a>

            </div>
        </div>
    </nav>
    <block>
        <!-- <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="#">&nbsp;&nbsp;&nbsp;Home</a></li>
            <li class='is-active'><a href="#">Live Viewer</a></li>
        </ul>
    </nav> -->
    </block>
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Modal title</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <!-- Content ... -->
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success">Save changes</button>
                <button class="button">Cancel</button>
            </footer>
        </div>
    </div>



    <!-- Admin Setting -->
    <section class="hero is-white is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half">
                        <section class="section">

                            <div class='block has-text-centered'>
                                <button class='button is-primary '>Change Password</button>
                            </div>

                            <div class='block has-text-centered'>
                                <button class='open-modal button is-link '>Reset Password</button>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Start Time -->
    <section class="hero is-warning is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half">
                        <article class="message">
                            <div class="message-header">
                                <p>Current Time</p>
                                <button id='ctimebtn' class="button is-link">Change</button>
                            </div>
                            <div id='curtime_text' class="message-body">
                                <strong>&nbsp;</strong>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id='time_setting' class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">System Time</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="field">
                    <label class="label">Time to apply</label>
                    <div class="control has-icons-left has-icons-right">
                        <input id='systime' class="input" type="text" name="systime" placeholder="Apply your time">
                        <span class="icon is-small is-left">
                            <i class="fas fa-clock"></i>
                        </span>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" onclick="updateTimeReq();">Save changes</button>
                <button class="button" onclick='$("#time_setting").removeClass("is-active");'>Cancel</button>
            </footer>
        </div>
    </div>
    <!-- End Time  -->
    <!-- System Info. -->
    <section class="hero is-primary is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half">

                        <div class="field">
                            <label class="label">Model Name</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input" type="text" name="username" placeholder="Username">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Serial Number</label>
                            <p class="control has-icons-left">
                                <input class="input" type="password" name="password" placeholder="Password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Firmware Version</label>
                            <p class="control has-icons-left">
                                <input class="input" type="password" name="password" placeholder="Password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Algorithm Version</label>
                            <p class="control has-icons-left">
                                <input class="input" type="password" name="password" placeholder="Password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Web Version</label>
                            <p class="control has-icons-left">
                                <input class="input" type="password" name="password" placeholder="Password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- DMS Settings  -->
    <section class='hero is-success is-fullheight'>
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half">
                        <div class='field'>
                            <label class="label">DMS Algorithm (졸음 감지)</label>
                            <div class="buttons has-addons">
                                <button class="button ">On</button>
                                <button class="button ">Off</button>
                            </div>
                        </div>
                        <div class='field'>
                            <label class="label">PSR Algorithm (위험 행동 감지)</label>
                            <div class="buttons has-addons">
                                <button class="button ">On</button>
                                <button class="button ">Off</button>
                            </div>
                        </div>
                        <div class='field'>
                            <label class="label">DMS Car Speed Limit (인식 차량 속도 km/h)</label>
                            <input class="input is-primary" type="text" placeholder="0 ~ 60 km/h">
                        </div>
                        <div class='field'>
                            <label class="label">DMS Algorithm Sensitivity (알고리즘 민감도) </label>
                            <div class="buttons has-addons">
                                <button class="button">Low</button>
                                <button class="button">Medium</button>
                                <button class="button">High</button>
                            </div>
                        </div>
                        <div class='field'>
                            <label class="label">Audio Volume</label>
                            <div class="select is-primary">
                                <select>
                                    <option>Select</option>
                                    <option>0</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>75</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                        <div class='field'>
                            <label class="label">Led Brightness</label>
                            <div class="select is-primary">
                                <select>
                                    <option>Select</option>
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                </select>
                            </div>
                        </div>

                        <div class='field'>
                            <label class="label">G-Sensor Sensitivity</label>
                            <div class="buttons has-addons">
                                <button class="button ">Low</button>
                                <button class="button ">Medium</button>
                                <button class="button ">High</button>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>

    </section>
</body>
<script>

    $(document).ready(function () {
        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function () {
            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");
        });
    });

    // Time Setting

    function updateCurtime() {
        $.get("/api/curtime", function (data, status) {
            var d = new Date(parseFloat(data * 1000))
            const offset = d.getTimezoneOffset()
            var yourDate = new Date(d.getTime() - (offset * 60 * 1000))
            $('#curtime_text').html('<strong>' + yourDate.toISOString().split('T')[0] + ' ' + yourDate.toISOString().split('T')[1].substring(0, 8) + '</strong>')
        });
    }

    $("#ctimebtn").click(function () {
        $("#systime:text").val($('#curtime_text').text());
        $("#time_setting").addClass("is-active");
        $('html').toggleClass('is-clipped');
    });

    $(document).ready(function () {
        setInterval(updateCurtime, 1000);
    });

    function updateTimeReq() {
        var targetTimeStr = $("#systime:text").val()
        var targetTime = Date.parse(targetTimeStr)
        $.post("/api/updatetime", { targetTime: targetTime })
            .done(function (data) {
                var d = new Date(parseInt(data))
                console.log(d.toLocaleString())
                alert("Date changed successfully.")
            }).fail(function (err) {
                alert("Date change failed")
            }).always(() => {
                $(".modal").removeClass("is-active");
            })
    }



    function toggleModalClasses(event) {
        //     var modalId = event.currentTarget.dataset.modalId;
        //     var modal = $(modalId);
        //     modal.toggleClass('is-active');
        $(".modal").addClass("is-active");
        $('html').toggleClass('is-clipped');
    };

    $(".modal-close").click(function () {
        $(".modal").removeClass("is-active");
    });

    $(".delete").click(function () {
        $(".modal").removeClass("is-active");
    });

    $('.open-modal').click(toggleModalClasses);
    $('.close-modal').click(toggleModalClasses);
</script>

</html>